<footer id="global-footer" class="global-footer">
  <div class="global-footer_container">
    <p class="global-footer_heading">
      Follow me on:
    </p>
    <div class="global-footer_list">
      <a href="https://twitter.com/glenaldy98">
        Twitter
      </a>
      |
      <a href="https://github.com/Glenaldy">
        Github
      </a>
    </div>
    <p class="global-footer_text">
      Thank you for the visit.
      <br />
      All of this website is designed and coded by Glenaldy.
    </p>
  </div>
  <div class="global-footer_footer">
    <div class="global-footer_info">
      <p>
        Copyright © glen.work
        <br />
        Designed and coded by Glenaldy
      </p>
    </div>
    <div class="global-footer_scroll">
      <div class="scroll-up arrow-up"></div>
    </div>
  </div>
</footer>