<header id="global-header" class="global-header">
  <a href="/" class="global-header_home clickable">
    <span class="global-header_logo">
      <img src="/assets/Logo/Main-Logo.svg" alt="Logo" height="45px" />
    </span>
    <div class="global-header_title">
      <span id="header-title1">Visual Designer</span><br /><span id="header-title2">glen.work</span>
    </div>
  </a>
  <nav class="global-header_nav">
    <div class="global-header_navline1">
      <span class="menu-toggle_desc" id="menu_desc1">GLENALDY</span>
      <div id="menu-toggle" class="menu-toggle clickable">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
    <div class="global-header_navline2">
      <span class="menu-toggle_desc" id="menu_desc2">DESIGN</span>
    </div>
  </nav>
</header>