<div class="menu-overlay">
  <div id="menu-toggle" class="menu-toggle clickable">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <div class="menu-display">
    <span class="global-header_logo">
      <a href="/">
        <img src="/assets/Logo/Main-Logo.svg" alt="Logo" height="45px" />
      </a>
      <br>
      <span class="menu-title">Here is the menu</span>
    </span>
    <nav class="menu-nav">
      <ul>
        <li>
          <a href="/about">
            <span class="menu-en">About Me</span><br /><span class="menu-jp">私について</span></a>
        </li>
        <li>
          <a href="/works">
            <span class="menu-en">Works</span><br /><span class="menu-jp">実績</span></a>
        </li>
        <li>
          <a href="/contact">
            <span class="menu-en">Contact</span><br /><span class="menu-jp">お問い合わせ</span></a>
        </li>
      </ul>
    </nav>
    <span class="menu-footer">glen.work</span>
  </div>
</div>