{{>header}}
{{>menu-overlay}}
<main>
    <div id="about-page">
        <div class="background">
            <div class="anti-overflow">
                <img src="assets/Background/autumn-tree.svg" alt="Autumn Tree" id="autumn" />
                <img src="assets/Background/kyoto-full.svg" alt="Town of Kyoto" id="kyoto" />
            </div>
        </div>
        <div class="content">
            <h1 class="about-title">
                ABOUT ME
            </h1>
            <ul class="language-selector">
                <li class="clickable" data-lang="en-text">
                    <div class="cfa-press">
                        <div id="en-flag" class="cfa-top"></div>
                        <div class="cfa-bottom"></div>
                    </div>
                </li>
                <li class="clickable" data-lang="jp-text">
                    <div class="cfa-press">
                        <div id="jp-flag" class="cfa-top"></div>
                        <div class="cfa-bottom"></div>
                    </div>
                </li>
                <li class="clickable" data-lang="id-text">
                    <div class="cfa-press">
                        <div id="id-flag" class="cfa-top"></div>
                        <div class="cfa-bottom"></div>
                    </div>
                </li>
            </ul>
            <div id="en-text" class="about-text current">
                <div class="about-heading">
                    <div class="skills">
                        <h2>Skills</h2>
                        <p>Adobe Illustrator, Adobe Photoshop, Figma, HTML/CSS/Javascript</p>
                    </div>
                    <div class="qualification">
                        <h2>Qualification</h2>
                        <p>TOEIC 990, JLPT N2, Harvard CS50X</p>
                    </div>
                </div>
                <p class="paragraph">
                    I am Glenaldy, I came from Indonesia and studied in a college in Kyoto.
                    <br />
                    <br />
                    I think a lot about many things but I am not confident in my verbal communication and easily get
                    misunderstood, yet when I knew it I pursued studies in visual design that enabled me to communicate
                    more visually. Not only that I also realized my old passion for computers and technology and their
                    potential in reaching even greater audiences.
                    <br />
                    <br />
                    So as I pursued my third year into my studies, I have self-taught myself in my free time some key
                    skills that I believe will be valuable in the future such as website development and programming.
                    <br>
                    <br>
                    With the experiences in design that I have accumulated and the systematic way of thinking that I
                    have, I am now capable of making design decisions that understand the customer and their technical
                    needs without compromise on details.
                    <br>
                    <br>
                    Now with that in mind, I summarized my strong elements into 3 points:
                </p>
                <div class="points">
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/tech-point.svg" alt="Technology Logo">
                        </div>
                        <h3>Technology and Computer Enthusiast</h3>
                        <p>I am a passionate designer obsessed with the latest trends in computers and technology.</p>
                    </div>
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/fast-point.svg" alt="Technology Logo">
                        </div>
                        <h3>Fast Learning Capability</h3>
                        <p>I consider myself a quick learner that is not afraid to learn any new skills or concepts that
                            can improve my skillset.</p>
                    </div>
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/adapt-point.svg" alt="Technology Logo">
                        </div>
                        <h3>Systematic Thinking and Workflow</h3>
                        <p>My programming skills further how I set my workflow and it shows in how I design.</p>
                    </div>
                </div>
                <p class="paragraph center">
                    If you’d like to know more about me, please contact me.<br>
                    I am looking forward to your response.
                    <br>
                    <br>
                    Thank you.
                </p>
                <a href="/contact" class="cfa-button">
                    <div id="cfa-top">Contact Me</div>
                    <div id="cfa-bottom"></div>
                </a>
            </div>
            <div id="jp-text" class="about-text">
                <div class="about-heading">
                    <div class="skills">
                        <h2>スキル</h2>
                        <p>Adobe Illustrator, Adobe Photoshop, Figma, HTML/CSS/Javascript</p>
                    </div>
                    <div class="qualification">
                        <h2>資格</h2>
                        <p>TOEIC 990点, 日本語能力試験 N2, ハーバードCS50X</p>
                    </div>
                </div>
                <p class="paragraph">
                    グレンアルディです。インドネシアから来て京都の専門学校に通いました。
                    <br />
                    <br />
                    自分はいろいろ考えすぎの人と思い、口頭でのコミュニケーションに自信がなく、誤解されやすいのですが、デザインの勉強した後ビジュアルコミュニケーションが高めて話せるようになりました。それだけでなく、コンピューターとテクノロジーに対する古い情熱が再発見して、多くの視聴にコミュニケーションが伝える力が気づきました。
                    <br />
                    <br />
                    ですから、3年生にウェブ開発とプログラミングなど独学が開始し、将来価値が高い重要なスキルを学びました。
                    <br>
                    <br>
                    デザインの経験と体系的な考え方により、顧客の依頼が技術的ニーズを理解してデザインの設計を満たすことができます。
                    <br>
                    <br>
                    念頭に置いて、自信がある特徴を3つのポイントに要約しました：
                </p>
                <div class="points">
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/tech-point.svg" alt="Technology Logo">
                        </div>
                        <h3>テクノロジーとコンピューターのマニアック</h3>
                        <p>テクノロジーの最新トレンドに夢中になり、コンピューターの使いが得意です。</p>
                    </div>
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/fast-point.svg" alt="Technology Logo">
                        </div>
                        <h3>物覚えがいい</h3>
                        <p>自分のスキルセットを向上できる新たなスキルや概念を恐れなく学びます</p>
                    </div>
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/adapt-point.svg" alt="Technology Logo">
                        </div>
                        <h3>体系的な考え方</h3>
                        <p>プログラミングスキルによりワークフロー設定するかをさらに深め、自分のデザインを示しています</p>
                    </div>
                </div>
                <p class="paragraph center">
                    私についてもっと知りたい場合は、連絡してください。
                    <br>
                    ご返事をお待ちしております。
                    <br>
                    <br>
                    ありがとうございました。
                </p>
                <a href="/contact" class="cfa-button">
                    <div id="cfa-top">お問い合わせ</div>
                    <div id="cfa-bottom"></div>
                </a>
            </div>
            <div id="id-text" class="about-text">
                <div class="about-heading">
                    <div class="skills">
                        <h2>Skill</h2>
                        <p>Adobe Illustrator, Adobe Photoshop, Figma, HTML/CSS/Javascript</p>
                    </div>
                    <div class="qualification">
                        <h2>Kualifikasi</h2>
                        <p>TOEIC 990, JLPT N2, Harvard CS50X</p>
                    </div>
                </div>
                <p class="paragraph">
                    Nama saya Glenaldy, dari Indonesia saya pindah ke Jepang untuk meniti perguruan tinggi.
                    <br />
                    <br />
                    Sejak dulu saya tidak percaya diri dengan kemampuan komunikasi saya dan sering sekali salah paham
                    dengan orang lain. Tapi setelah saya belajar tentang desain, saya dapat menyampaikan pemikiran dalam
                    bentuk visual.
                    <br />
                    <br />
                    Saat saya mencapai tahun ke 3 di perguruan tinggi, saya mulai belajar sendiri tentang pengembangan
                    website dan programming.
                    <br>
                    <br>
                    Dengan pengalaman dalam desain dan pemikiran sistematis yang saya miliki, saya bisa membuat desain
                    yang mengerti kebutuhan klien hingga secara teknis tanpa mengorbakan detail penting.
                    <br>
                    <br>
                    Dengan itu saya bisa merangkumkan kelebihan yang saya miliki dalam 3 poin:
                </p>
                <div class="points">
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/tech-point.svg" alt="Technology Logo">
                        </div>
                        <h3>Antusias Tentang Teknologi dan Komputer</h3>
                        <p>Saya gemar mengikuti trend terbaru tentang teknologi dan saya mahir tentang komputer</p>
                    </div>
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/fast-point.svg" alt="Technology Logo">
                        </div>
                        <h3>Cepat Belajar</h3>
                        <p>Saya tidak takut untuk mempelajari hal baru yang dapat memperdalam skill dan konsep yang saya
                            miliki.</p>
                    </div>
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/adapt-point.svg" alt="Technology Logo">
                        </div>
                        <h3>Pemikiran Sistematis</h3>
                        <p>Pengalaman saya dalam programming memastikan cara berpikir yang sistematis dalam cara kerja.
                        </p>
                    </div>
                </div>
                <p class="paragraph center">
                    Bila anda ingin mengetahui saya secara lebih, mohon hubungi saya.
                    <br>
                    Saya tunggu kabar anda.
                    <br>
                    <br>
                    Terima kasih.
                </p>
                <a href="/contact" class="cfa-button">
                    <div id="cfa-top">Hubungi Saya</div>
                    <div id="cfa-bottom"></div>
                </a>
            </div>
        </div>
    </div>
</main>
{{>footer}}