{{>header}}
{{>menu-overlay}}
<main>
    <div id="about-page">
        <div class="background">
            <div class="anti-overflow">
                <img src="assets/Background/autumn-tree.svg" alt="Autumn Tree" id="autumn" />
                <img src="assets/Background/kyoto-full.svg" alt="Town of Kyoto" id="kyoto" />
            </div>
        </div>
        <div class="content">
            <h1 class="about-title">
                ABOUT ME
            </h1>
            <ul class="language-selector">
                <li class="clickable" data-lang="en-text">
                    <div class="cfa-press">
                        <div id="en-flag" class="cfa-top"></div>
                        <div class="cfa-bottom"></div>
                    </div>
                </li>
                <li class="clickable" data-lang="jp-text">
                    <div class="cfa-press">
                        <div id="jp-flag" class="cfa-top"></div>
                        <div class="cfa-bottom"></div>
                    </div>
                </li>
                <li class="clickable" data-lang="id-text">
                    <div class="cfa-press">
                        <div id="id-flag" class="cfa-top"></div>
                        <div class="cfa-bottom"></div>
                    </div>
                </li>
            </ul>
            <div id="en-text" class="about-text current">
                <div class="about-heading">
                    <div class="skills">
                        <h2>Skills</h2>
                        <p>
                            Design: Image Editing, Vector Graphics, Printing (DTP), Website
                        </p>
                        <p>
                            Tools: Adobe Illustrator, Adobe Photoshop, Adobe Premiere Pro, Figma
                        </p>
                        <p>
                            Development: HTML5/CSS3, Javascript, Jquery, Node.JS, ExpressJS, Python
                        </p>
                    </div>
                    <div class="qualification">
                        <h2>Qualification</h2>
                        <p>TOEIC 990, JLPT N2, Harvard CS50X</p>
                    </div>
                </div>
                <div class="points">
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/tech-point.svg" alt="Technology Logo">
                        </div>
                        <h3>Tech and Computer Enthusiast</h3>
                        <p></p>
                    </div>
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/fast-point.svg" alt="Technology Logo">
                        </div>
                        <h3>Clean and Simple Design</h3>
                        <p></p>
                    </div>
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/adapt-point.svg" alt="Technology Logo">
                        </div>
                        <h3>Systematic Thinking and Workflow</h3>
                        <p></p>
                    </div>
                </div>
                <p class="paragraph">
                    My name is Glenaldy. I came from Indonesia and currently studying in Graduate school in Kyoto, Japan.
                    <br />
                    <br />
                    I pursued studies in visual design that enabled me to communicate more visually. During that time, 
                    I realized my passion for computers and technology and their potential in reaching even greater 
                    audiences. 
                    <br />
                    <br />
                    During the 3rd year of my studies of design, I have self-taught the key skills that I believe will 
                    be valuable in the future such as website development and programming. Yet to reach higher ground, 
                    I have decided to pursue higher studies. As of now, I am currently enrolled in Kyoto College of 
                    Graduate Studies for Informatics.
                    <br>
                    <br>
                    With the experiences in design that I have accumulated and the systematic way of thinking that I 
                    have, I am now capable of making design decisions that understand the customer and their technical 
                    needs without compromising on details.
                </p>
                <p class="paragraph center">
                    If you’d like to know more about me, please contact me.<br>
                    I am looking forward to your response.
                    <br>
                    <br>
                    Thank you.
                </p>
                <a href="/contact" class="cfa-button">
                    <div id="cfa-top">Contact Me</div>
                    <div id="cfa-bottom"></div>
                </a>
            </div>
            <div id="jp-text" class="about-text">
                <div class="about-heading">
                    <div class="skills">
                        <h2>スキル</h2>
                        <p>
                            デザイン: 画像編集, ベクターグラフィック, プリント（DTP）, ウェブサイト
                        </p>
                        <p>
                            アプリ: Adobe Illustrator, Adobe Photoshop, Adobe Premiere Pro, Figma
                        </p>
                        <p>
                            開発: HTML5/CSS3, Javascript, Jquery, Node.JS, ExpressJS, Python
                        </p>
                    </div>
                    <div class="qualification">
                        <h2>資格</h2>
                        <p>TOEIC 990点, 日本語能力試験 N2, ハーバードCS50X</p>
                    </div>
                </div>
                <div class="points">
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/tech-point.svg" alt="Technology Logo">
                        </div>
                        <h3>テクノロジーとコンピューターのマニアック</h3>
                        <p></p>
                    </div>
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/fast-point.svg" alt="Technology Logo">
                        </div>
                        <h3>クリーンとシンプルな<br>デザイン</h3>
                        <p></p>
                    </div>
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/adapt-point.svg" alt="Technology Logo">
                        </div>
                        <h3>体系的な考え方</h3>
                        <p></p>
                    </div>
                </div>
                <p class="paragraph">
                    グレンアルディと申します。インドネシアから来て京都の大学院に通っています。
                    <br />
                    <br />
                    デザインの勉学してビジュアルコミュニケーションが高めて話せるようになりました。その間、コンピューターとテクノロジーに対する情熱が発見して、多くの視聴にコミュニケーションが伝える力が気づきました。
                    <br />
                    <br />
                    ですので、デザインの勉学の3年生にウェブ開発とプログラミングなど独学が開始し、将来価値が高い重要なスキルを学びました。まだしかしこれしか足らない情感があり、この上ともの勉学を追究すると思いました。今の所、京都情報大学院大学に通っています。
                    <br>
                    <br>
                    デザインの経験と体系的な考え方により、顧客の依頼が技術的ニーズを理解してデザインの設計を満たすことができます。
                </p>
                <p class="paragraph center">
                    私についてもっと知りたい場合は、連絡してください。
                    <br>
                    ご返事をお待ちしております。
                    <br>
                    <br>
                    まいど、おおきに！
                </p>
                <a href="/contact" class="cfa-button">
                    <div id="cfa-top">お問い合わせ</div>
                    <div id="cfa-bottom"></div>
                </a>
            </div>
            <div id="id-text" class="about-text">
                <div class="about-heading">
                    <div class="skills">
                        <h2>Skill</h2>
                        <p>
                            Desain: Edit Gambar, Vektor Grafis, Percetakan (DTP), Website
                        </p>
                        <p>
                            Aplikasi: Adobe Illustrator, Adobe Photoshop, Adobe Premiere Pro, Figma
                        </p>
                        <p>
                            Pengembangan: HTML5/CSS3, Javascript, Jquery, Node.JS, ExpressJS, Python
                        </p>
                    </div>
                    <div class="qualification">
                        <h2>Kualifikasi</h2>
                        <p>TOEIC 990, JLPT N2, Harvard CS50X</p>
                    </div>
                </div>
                <div class="points">
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/tech-point.svg" alt="Technology Logo">
                        </div>
                        <h3>Antusias Tentang Teknologi dan Komputer</h3>
                        <p></p>
                    </div>
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/fast-point.svg" alt="Technology Logo">
                        </div>
                        <h3>Desain yang Rapih dan Simpel</h3>
                        <p></p>
                    </div>
                    <div class="point-cell">
                        <div class="point-icon"><img src="assets/Logo/Points/adapt-point.svg" alt="Technology Logo">
                        </div>
                        <h3>Pemikiran Sistematis</h3>
                        <p></p>
                    </div>
                </div>
                <p class="paragraph">
                    Nama saya Glenaldy, saya datang ke Jepang untuk meniti perguruan tinggi.
                    <br />
                    <br />
                    Pembelajaran dalam desain memungkinkan saya untuk menyampaikan pemikiran dalam bentuk visual. Di saat itu juga saya menemukan semangat untuk belajar tentang komputer dan teknologi yang dapat memungkinkan saya untuk mencapai lebih banyak peminat.
                    <br />
                    <br />
                    Saat saya mencapai tahun ke 3 di pembelajaran desain, saya mulai belajar sendiri tentang pengembangan website dan programming, kehalian yang saya percaya akan menjadi penting di masa depan. Bukan itu saja, untuk mencapai ahli ilmu yang lebih tinggi saya memutuskan untuk mengambil pendidikan yang lebih tinggi lagi. Saat ini saya sedang belajar di Universitas Kyoto College of Graduate Studies for Informatics.
                    <br>
                    <br>
                    Dengan pengalaman dalam desain dan pemikiran sistematis yang saya miliki, saya bisa membuat desain yang mengerti kebutuhan klien hingga secara teknis tanpa mengorbakan detail penting.
                </p>
                <p class="paragraph center">
                    Bila anda ingin mengetahui saya secara lebih, mohon hubungi saya.
                    <br>
                    Saya tunggu kabar anda.
                    <br>
                    <br>
                    Terima kasih.
                </p>
                <a href="/contact" class="cfa-button">
                    <div id="cfa-top">Hubungi Saya</div>
                    <div id="cfa-bottom"></div>
                </a>
            </div>
        </div>
    </div>
</main>
{{>footer}}