{{>header}}
{{>menu-overlay}}
<main>
    <div id="work-details">
        <div class="background">
            <img src="/assets/Background/bridge.svg" alt="Snow Bridge" id="bridge" />
            <img src="/assets/Background/snow.svg" alt="Snow Bridge" id="snow" />
            <div id="cloud-snow">
                <img src="/assets/Background/Cloud/cloud-snow1.svg" alt="Cloud Snow" id="cloud-snow1" width="250px" />
                <img src="/assets/Background/Cloud/cloud-snow2.svg" alt="Cloud Snow" id="cloud-snow2" width="250px" />
                <img src="/assets/Background/Cloud/cloud-snow3.svg" alt="Cloud Snow" id="cloud-snow3" width="250px" />
                <img src="/assets/Background/Cloud/cloud-snow4.svg" alt="Cloud Snow" id="cloud-snow4" width="250px" />
            </div>
        </div>
        <div class="content">
            <h3 class="page-title"><a href="/works"><u>WORK<span class="counter-space">S</span></u></a></h3>
            {{> works/en}}
        </div>
    </div>
</main>
{{>footer}}