/***************
ALL THINGS HERE IS FOR THE BACKFROUND OF EACH SECTION,
IT IS FOR THE PURPOSE OF VISUAL DESIGN ONLY
****************/
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  pointer-events: none; }

/*********
    INDEX - HOME
**********/
#fuji {
  width: 180%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  bottom: 0; }

#sakura {
  width: clamp(50%, 90%, 700px);
  position: absolute;
  bottom: 50%;
  transform: translate(0, -100%);
  right: -60px; }
  #sakura > * {
    position: absolute;
    transform-origin: top right;
    top: 0;
    right: 0; }
  #sakura #sakura-tree4 {
    width: 70%; }

#cloud-normal {
  transform: translate(0, 0);
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%; }
  #cloud-normal > * {
    width: clamp(50px, 30vw, 150px);
    position: absolute; }
  #cloud-normal #cloud-normal1 {
    top: 15vh;
    left: 5vw; }
  #cloud-normal #cloud-normal2 {
    top: 25vh;
    left: 50vw; }
  #cloud-normal #cloud-normal3 {
    top: 35vh;
    left: 25vw; }
  #cloud-normal #cloud-normal4 {
    top: 50vh;
    left: 80vw; }
  #cloud-normal #cloud-normal5 {
    top: 60vh;
    left: 50vw; }

/***************
      ABOUT
  ****************/
#index-about .background {
  overflow: visible;
  height: 100%; }

.anti-overflow {
  overflow: hidden; }

#autumn {
  width: clamp(50%, 90%, 500px);
  z-index: 1; }

#kyoto {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1; }

#about-page .background #autumn {
  padding-top: 8vh;
  width: clamp(50%, 90%, 500px);
  z-index: 1; }
#about-page .background #kyoto {
  transform: translate(-50%, 40%);
  z-index: 1; }

/***************
      WORKS
  ****************/
#bridge {
  position: absolute;
  width: clamp(10px, 90%, 500px);
  transform: translate(-50%, -1%);
  left: 50%;
  bottom: 0;
  z-index: 1; }

#snow {
  position: absolute;
  width: 200%;
  transform: translate(-50%, 80%);
  left: 50%;
  bottom: 0; }

#cloud-snow {
  transform: translate(0, 0);
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%; }
  #cloud-snow > * {
    width: clamp(50px, 30vw, 200px);
    position: absolute; }
  #cloud-snow #cloud-snow1 {
    top: 15%;
    left: 5vw; }
  #cloud-snow #cloud-snow2 {
    top: 45%;
    left: 50vw; }
  #cloud-snow #cloud-snow3 {
    top: 55%;
    left: 25vw; }
  #cloud-snow #cloud-snow4 {
    top: 70%;
    left: 80vw; }

@media screen and (min-width: 769px) {
  #fuji {
    width: 105%;
    transform: translate(-50%, 40%); }

  #snow {
    width: 100%; } }
@media screen and (min-width: 1024px) {
  #sakura {
    width: clamp(500px, 50%, 700px);
    position: absolute;
    bottom: 75%;
    transform: translate(0, -100%);
    right: -90px; }

  #cloud-normal > * {
    width: clamp(50px, 15vw, 200px); } }

/*# sourceMappingURL=background.css.map */
