* {
  box-sizing: border-box;
  color: white;
  font-family: "Source Code Pro"; }

:root {
  --general-text-size: 17px;
  --title-text-size: 48px;
  --medium-text-size: 21px;
  --medium-big-text-size: 24px;
  --big-text-size: 36px;
  --small-text-size: 12px;
  --screen-padding-top: 45px;
  --screen-padding-side: 20px;
  --screen-padding-bottom: 30px;
  --header-padding-side: 20px;
  --max-content-size: clamp(200px, 100%, 1366px);
  --bold-text-weight: 700;
  --semibold-text-weight: 600;
  --medium-text-weight: 500;
  --light-text-weight: 300;
  --image-cell: clamp(
    200px,
    500px,
    calc(100vw - (var(--screen-padding-side) * 2))
  ); }

.material-icons.md-48 {
  font-size: 48px; }

a {
  font-style: normal;
  text-decoration: none; }

body {
  background-image: linear-gradient(#664382, #c85a00);
  min-width: 280px;
  width: auto !important;
  font-size: var(--general-text-size); }

h1 {
  font-weight: var(--bold-text-weight);
  font-size: var(--title-text-size); }

/****************
      HEADER
  *****************/
header#global-header {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: var(--screen-padding-top) var(--header-padding-side);
  z-index: 999; }
  header#global-header .global-header_home {
    display: flex;
    height: 50px;
    width: 100%; }
    header#global-header .global-header_home .global-header_logo {
      height: 50px; }
    header#global-header .global-header_home .global-header_title {
      /*display: flex;
      flex-direction: column;*/
      height: 45px;
      margin-left: 10px; }
      header#global-header .global-header_home .global-header_title #header-title1 {
        white-space: nowrap;
        font-size: 15px;
        font-style: italic;
        font-weight: lighter; }
      header#global-header .global-header_home .global-header_title #header-title2 {
        font-size: var(--medium-text-size); }
  header#global-header .global-header_nav {
    text-align: right;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    header#global-header .global-header_nav .global-header_navline1 {
      display: flex;
      align-items: center; }
    header#global-header .global-header_nav .menu-toggle_desc {
      height: fit-content;
      font-size: var(--general-text-size);
      font-style: italic;
      display: none; }
    header#global-header .global-header_nav #menu_desc1 {
      transform: translate(0, -0.2em);
      align-items: center;
      margin-right: 10px; }
    header#global-header .global-header_nav #menu_desc2 {
      transform: translate(1.4em, 25px) rotate(90deg); }

.menu-toggle {
  display: inline-block;
  height: 35px; }
  .menu-toggle .bar1,
  .menu-toggle .bar2,
  .menu-toggle .bar3 {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 7px 0; }

/****************
    MENU-OVERLAY
*****************/
.menu-overlay {
  display: none; }
  .menu-overlay .menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: var(--screen-padding-top);
    padding-right: var(--header-padding-side);
    z-index: 5001; }
  .menu-overlay .menu-toggle.toggle-active > .bar1 {
    transform: rotate(0deg);
    transform-origin: top right; }
  .menu-overlay .menu-toggle.toggle-active > .bar3 {
    transform: rotate(0deg);
    transform-origin: bottom right; }

.menu-overlay.toggle-active {
  display: block;
  opacity: 0;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0; }

.menu-display {
  width: fit-content;
  height: 80%;
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; }
  .menu-display .menu-title {
    font-size: var(--general-text-size);
    font-style: italic; }
  .menu-display .menu-nav ul li {
    margin-bottom: 20px; }
  .menu-display .menu-nav .menu-en {
    font-size: var(--medium-big-text-size);
    font-weight: var(--medium-text-weight); }
  .menu-display .menu-nav .menu-jp {
    font-size: var(--small-text-size); }
  .menu-display .menu-footer {
    font-size: var(--small-text-size);
    letter-spacing: 0.3em; }

/****************
    FOOTER
*****************/
footer#global-footer {
  background-color: #083258;
  height: 100vh;
  position: relative;
  z-index: 998; }
  footer#global-footer > * {
    position: absolute; }
  footer#global-footer .global-footer_container {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--general-text-size); }
    footer#global-footer .global-footer_container .global-footer_list {
      font-size: 24px;
      font-weight: 500; }
    footer#global-footer .global-footer_container .global-footer_text {
      font-style: italic;
      margin-top: 50px; }
  footer#global-footer .global-footer_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    padding: var(--screen-padding-bottom) var(--screen-padding-side); }
    footer#global-footer .global-footer_footer .global-footer_info {
      font-size: var(--small-text-size); }
    footer#global-footer .global-footer_footer .global-footer_scroll {
      height: fit-content;
      width: fit-content;
      transform: translateY(-5px); }
      footer#global-footer .global-footer_footer .global-footer_scroll .arrow-up {
        width: 25px;
        height: 25px;
        border-top: 5px solid;
        border-right: 5px solid;
        transform: rotate(-45deg);
        transform-origin: bottom right; }

/****************
      MAIN
*****************/
main {
  position: relative;
  min-height: 100vh;
  height: fit-content; }

.index-section {
  position: relative;
  min-height: 100vh;
  height: fit-content; }

.clip-diagonal-bottom {
  animation-name: scroll;
  animation-duration: 2s;
  animation-fill-mode: forwards; }
@keyframes scroll {
  from {
    clip-path: ellipse(200% 200% at 0% 0%); }
  to {
    clip-path: ellipse(200% 100% at 0% 0%); } }
.clip-diagonal-top {
  clip-path: ellipse(200% 75% at 0% 75%); }

.content {
  position: relative;
  z-index: 200;
  height: fit-content;
  margin: 0 auto; }

/****************
    INDEX SECTION HOME
*****************/
#index-home {
  background-color: #3399ff; }

#index-home .content {
  padding: 0 var(--screen-padding-side);
  padding-top: clamp(var(--screen-padding-top), 22vh, calc(var(--screen-padding-top) + 20vh));
  max-width: var(--max-content-size);
  width: 100%; }
  #index-home .content > * {
    margin-bottom: 5px; }
  #index-home .content p {
    font-size: var(--medium-text-size);
    font-weight: 300; }
  #index-home .content h1 {
    line-height: 95%; }
  #index-home .content span {
    line-height: 30px;
    font-size: var(--general-text-size);
    font-weight: 500; }

/****************
      INDEX SECTION ABOUT
  *****************/
#index-about {
  height: 100%;
  display: flex;
  align-items: center; }
  #index-about .content {
    max-width: var(--max-content-size);
    z-index: 100;
    text-align: right;
    padding: 100px var(--screen-padding-side);
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    #index-about .content h1 {
      margin-bottom: 20px; }
    #index-about .content #about-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      max-height: 50vh;
      background: linear-gradient(180deg, white 50%, rgba(255, 255, 255, 0) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: max-height 0.5s ease-in; }
      #index-about .content #about-text p {
        margin-bottom: 50px; }
    #index-about .content #about-text.expand {
      max-height: 5000px;
      background: white;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    #index-about .content .cfa-button {
      display: flex;
      align-items: flex-end;
      width: fit-content;
      height: fit-content; }
      #index-about .content .cfa-button #cfa-text {
        display: none;
        opacity: 0;
        font-size: var(--general-text-size);
        font-weight: var(--semibold-text-weight);
        margin-right: 10px; }
      #index-about .content .cfa-button #cfa-press {
        position: relative;
        height: 25px;
        width: 31px; }
        #index-about .content .cfa-button #cfa-press #cfa-top {
          position: absolute;
          height: 25px;
          width: 25px;
          border: 3px solid #2b1d13;
          border-radius: 12.5px;
          background-color: #bc871d;
          z-index: 2; }
          #index-about .content .cfa-button #cfa-press #cfa-top .text-expander {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            transform: rotate(90deg); }
            #index-about .content .cfa-button #cfa-press #cfa-top .text-expander .arrow-right {
              width: 8px;
              height: 8px;
              border-top: 3px solid white;
              border-right: 3px solid white;
              transform: rotate(45deg) translate(1px, 1px);
              transform-origin: bottom right; }
        #index-about .content .cfa-button #cfa-press #cfa-bottom {
          /**/
          position: absolute;
          transform: translate(0, 12px);
          height: 19px;
          width: 25px;
          border: 3px solid #2b1d13;
          border-radius: 0px 0px 15px 15px;
          background: #cc5d11;
          z-index: 1; }

/****************
    INDEX SECTION WORKS
*****************/
#index-works {
  z-index: 200;
  background-color: #3399ff;
  display: flex;
  align-items: center; }
  #index-works .content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    #index-works .content > * {
      margin-bottom: 25px; }
    #index-works .content #works-carousel {
      max-width: 100%;
      width: calc(var(--image-cell) * 3); }
    #index-works .content .cfa-button {
      width: 180px;
      height: 60px;
      font-size: var(--general-text-size);
      font-weight: var(--semibold-text-weight);
      position: relative; }
      #index-works .content .cfa-button #cfa-top {
        position: absolute;
        height: 45px;
        width: 180px;
        border-radius: 45px;
        border: 4px solid #400e4c;
        background-color: #02d3be;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center; }
      #index-works .content .cfa-button #cfa-bottom {
        position: absolute;
        transform: translate(0, 23px);
        background-color: #007e73;
        height: 35px;
        width: 180px;
        border-radius: 0px 0px 20px 20px;
        border: 4px solid #400e4c;
        z-index: 1; }

/**************
    PAGE - ABOUT
  ***************/
#about-page {
  height: 100%; }
  #about-page .content {
    max-width: var(--max-content-size);
    z-index: 100;
    text-align: center;
    padding: 20vh var(--screen-padding-side) 20vw;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #about-page .content * {
      margin-bottom: 10px; }
    #about-page .content h1 {
      font-weight: var(--semibold-text-weight); }
    #about-page .content h2 {
      font-size: var(--medium-big-text-size);
      font-weight: var(--medium-text-weight); }
    #about-page .content ul {
      display: flex; }
      #about-page .content ul li {
        margin: 20px; }
      #about-page .content ul .cfa-press {
        filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
        transform: scale(1.5);
        position: relative;
        height: 25px;
        width: 31px; }
        #about-page .content ul .cfa-press .cfa-top {
          position: absolute;
          height: 25px;
          width: 25px;
          border: 3px solid #2b1d13;
          border-radius: 12.5px;
          z-index: 2;
          background-position: center;
          background-size: cover; }
        #about-page .content ul .cfa-press #en-flag {
          background-image: url("../assets/Logo/Flag/en-flag-sq.svg"); }
        #about-page .content ul .cfa-press #jp-flag {
          background-image: url("../assets/Logo/Flag/jp-flag-sq.svg"); }
        #about-page .content ul .cfa-press #id-flag {
          background-image: url("../assets/Logo/Flag/id-flag-sq.svg"); }
        #about-page .content ul .cfa-press .cfa-bottom {
          position: absolute;
          transform: translate(0, 12px);
          height: 19px;
          width: 25px;
          border: 3px solid #2b1d13;
          border-radius: 0px 0px 15px 15px;
          background: #cc5d11;
          z-index: 1; }
    #about-page .content .about-text {
      display: none;
      flex-direction: column;
      align-items: center; }
      #about-page .content .about-text .about-heading {
        margin-bottom: 30px; }
      #about-page .content .about-text p {
        margin-bottom: 25px; }
      #about-page .content .about-text p.paragraph {
        text-align: left; }
      #about-page .content .about-text .points {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap; }
        #about-page .content .about-text .points .point-cell {
          margin: 0 auto;
          margin: 25px 0;
          width: 250px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between; }
          #about-page .content .about-text .points .point-cell * {
            margin-bottom: 10px; }
          #about-page .content .about-text .points .point-cell .point-icon {
            height: 150px; }
            #about-page .content .about-text .points .point-cell .point-icon img {
              height: 100%; }
          #about-page .content .about-text .points .point-cell h3 {
            font-size: var(--general-text-size);
            font-weight: var(--bold-text-weight); }
      #about-page .content .about-text .paragraph.center {
        text-align: center; }
    #about-page .content .about-text.current {
      display: flex; }

#works-page {
  z-index: 200;
  background-color: #3399ff;
  min-height: 100%; }
  #works-page .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px var(--screen-padding-side);
    height: fit-content;
    width: 100%;
    max-width: 1200px; }
    #works-page .content #work-genre {
      font-size: var(--general-text-size); }
      #works-page .content #work-genre ul {
        display: flex;
        flex-direction: column; }
        #works-page .content #work-genre ul li {
          margin-top: 10px;
          display: none;
          opacity: 0; }
        #works-page .content #work-genre ul li.selected {
          opacity: 1;
          display: block;
          font-weight: var(--semibold-text-weight); }
      #works-page .content #work-genre #dropdown-button {
        margin-top: 15px; }
        #works-page .content #work-genre #dropdown-button .arrow-down {
          margin: 0 auto;
          width: 15px;
          height: 15px;
          border-top: 3px solid;
          border-right: 3px solid;
          transform: rotate(135deg);
          transition: transform 1s; }
        #works-page .content #work-genre #dropdown-button .arrow-down.pressed {
          transform: rotate(-45deg);
          transition: transform 1s; }
    #works-page .content #work-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around; }
      #works-page .content #work-list .work-window {
        margin: 20px 10px;
        display: none;
        flex-direction: column;
        align-items: center;
        height: 300px;
        /*mobile*/
        width: var(--image-cell);
        max-width: 300px; }
        #works-page .content #work-list .work-window .work-image {
          width: 100%;
          padding-top: 75%;
          border: solid white;
          border-radius: 20px;
          overflow: hidden;
          position: relative;
          margin-bottom: 10px; }
          #works-page .content #work-list .work-window .work-image img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; }
        #works-page .content #work-list .work-window .work-text {
          font-size: var(--medium-text-size); }
      #works-page .content #work-list .work-window.genre-selected {
        display: flex; }

#work-details {
  z-index: 200;
  background-color: #3399ff;
  min-height: 100%; }
  #work-details .content {
    text-align: center;
    padding-top: clamp(var(--screen-padding-top), 120px, calc(var(--screen-padding-top) + 20vh));
    padding-bottom: 20vh;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #work-details .content > * {
      margin-bottom: 20px;
      padding-left: var(--screen-padding-side);
      padding-right: var(--screen-padding-side);
      max-width: var(--max-content-size); }
    #work-details .content h1 {
      font-size: var(--big-text-size);
      font-weight: var(--semibold-text-weight);
      line-height: var(--big-text-size); }
    #work-details .content h3 {
      font-weight: var(--semibold-text-weight);
      font-size: var(--medium-big-text-size); }
      #work-details .content h3 .counter-space {
        letter-spacing: 0; }
    #work-details .content .page-title {
      letter-spacing: 0.25em; }
    #work-details .content #works-carousel {
      max-width: none;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 50px; }
    #work-details .content .about-heading > * {
      margin-bottom: 10px; }
    #work-details .content .paragraph {
      text-align: left; }
    #work-details .content .video {
      position: relative;
      width: 100%;
      aspect-ratio: 4/3;
      background-color: white;
      border: solid white;
      border-radius: 20px;
      overflow: hidden; }
      #work-details .content .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }

@media screen and (min-width: 768px) {
  :root {
    --screen-padding-side: 50px; }

  .menu-toggle_desc {
    display: block !important; }

  #index-home .content {
    padding-top: 25vh; }
    #index-home .content > * {
      margin-bottom: 20px; }
    #index-home .content span {
      display: block;
      width: 75%; }

  #index-about .content h1 {
    margin-bottom: 50px; }
  #index-about .content .cfa-button {
    margin-bottom: 100px; }

  #index-works .content > * {
    margin-bottom: 50px; }

  #work-genre {
    margin-bottom: 50px; }

  #about-page .content {
    padding-bottom: 30vw; }
    #about-page .content * {
      margin-bottom: 30px; }

  #works-page .content {
    padding-bottom: 200px; } }
@media screen and (min-width: 1024px) {
  :root {
    --general-text-size: 18px;
    --title-text-size: 64px;
    --medium-text-size: 24px;
    --medium-big-text-size: 28px;
    --screen-padding-side: 75px;
    --header-padding-side: 50px; }

  #index-home .content span {
    width: 50%; } }
@media screen and (min-width: 1366px) {
  :root {
    --title-text-size: 72px;
    --screen-padding-side: 100px; } }

/*# sourceMappingURL=common.css.map */
