<div class="about-heading">
  <div class="scope">
    <h3>
      Scope
    </h3>
    <p>
      Graphic Design, Illustrator, Logo
    </p>
  </div>
  <div class="tools">
    <h3>
      Tools
    </h3>
    <p>
      Adobe Illustrator
    </p>
  </div>
</div>
<p class="paragraph en-paragraph">
  This logo is created according to the customer demand of incorporating Asian pennyworth as a symbol of wound healing
    herb. With this, the colorful yet easily understandable logo for the groceries will surely attract customers.
  <div class="middle">
    Work time: 2 days ('21 May)
  </div>
</p>
<p class="paragraph jp-paragraph">
  このロゴは顧客の依頼による、ツボクサが創傷治癒ハーブとして入れてみました。これでカラフルな八百屋のロゴがすぐわかります。
  <div class="middle">
    制作時間：2日（21年5月）
  </div>
</p>