<div class="about-heading">
  <div class="scope">
    <h3>Scope</h3>
    <p>Graphic Design, Illustrator, Product Design</p>
  </div>
  <div class="tools">
    <h3>Tools</h3>
    <p>Adobe Illustrator</p>
  </div>
</div>
<p class="paragraph">
  A brochure work requested by a small meat distributor in Indonesia to promote
  chicken meat retail services for household use.
  <br />
  <br />
  Work time : 1 week ('20 June)
</p>