<div class="about-heading">
  <div class="scope">
    <h3>
      Scope
    </h3>
    <p>
      Brochure, Graphic Design, Illustrator
    </p>
  </div>
  <div class="tools">
    <h3>
      Tools
    </h3>
    <p>
      Adobe Illustrator, Adobe Photoshop
    </p>
  </div>
</div>
<p class="paragraph en-paragraph">
  A brochure work that was requested by a meat distributor in Indonesia to promote chicken meat retail services for household use.
  <div class="middle">
    Work time: 1 week ('20 June)
  </div>
</p>
<p class="paragraph jp-paragraph">
  肉販売業者から依頼された業務用に通販から家庭用にキャンペーン用のチラシです。
  <div class="middle">
    制作時間：1週間（20年6月）
  </div>
</p>