<div class="about-heading">
  <div class="scope">
    <h3>
      Scope
    </h3>
    <p>
      Graphic Design, Illustrator, Poster
    </p>
  </div>
  <div class="tools">
    <h3>
      Tools
    </h3>
    <p>
      Adobe Illustrator
    </p>
  </div>
</div>
<p class="paragraph en-paragraph">
  A poster to tell about 4 important points to protect oneself from the covid-19. Each point has an illustration to emphasize and visualize the importance of being hygienic. This project was created during the height of the emergency of the pandemic and with a lot of misinformation floating around social media.
  <div class="middle">
    Work time: 1 week ('20 May)
  </div>
</p>
<p class="paragraph jp-paragraph">
  新型コロナウイルスから身を守るための4つの重要なポイントを伝えるポスターです。各ポイントにはイラストが有り、衛生的なことの重要性がすぐわかります。このポスターはパンデミックの緊急事態の最中に作ったので、ソーシャルメディアに誤った情報がたくさんありました。
  <div class="middle">
    制作時間：1週間（20年5月）
  </div>
</p>