<div class="about-heading">
    <div class="scope">
        <h3>Scope</h3>
        <p>Graphic Design, Illustrator</p>
    </div>
    <div class="tools">
        <h3>Tools</h3>
        <p>Adobe Illustrator</p>
    </div>
</div>
<p class="paragraph">
    Covid-19 poster commisioned to promote better hygiene in an Indonesian
    university.
    <br />
    <br />
    Work time : 1 week ('20 May)
</p>