<div class="about-heading">
  <div class="scope">
    <h3>
      Scope
    </h3>
    <p>
      Graphic Design, Illustrator, Product Design
    </p>
  </div>
  <div class="tools">
    <h3>
      Tools
    </h3>
    <p>
      Adobe Illustrator
    </p>
  </div>
</div>
<p class="paragraph en-paragraph">
  TungTau™ is a classic coffee shop that has stood through time since 1938 and has grown to be one of the biggest coffee shops in Bangka Island.
  <br />
  <br />
  Due to the characteristic of the shop that is affordable yet quality, this project is created with cost and simplicity in mind.
  <br />
  <br />
  With the current design, it is possible to package fragile ceramic cups and plates with just cheap cardboard. The outside wrapper allows any design change to be implemented without changing the core packaging of the product.
  <div class="middle">
    Work time: 4 months ('19 October - '20 January)
  </div>
</p>
<p class="paragraph jp-paragraph">
  TungTau™は、1938年以来長い歴史を持ち、バンカ島で最大の喫茶店の1つです。
  <br />
  <br />
  手頃な価格でありながら品質の高い店の特徴から、このプロジェクトはコストとシンプルさを念頭に置いて作成しました。
  <br />
  <br />
  このデザインでは、壊れやすいセラミックのかっぷやプレートを安価な段ボールで包装することができます。外側の包装を使用すると、製品の中のパッケージを変更せずに、デザイン変更することができます。
  <div class="middle">
    制作時間：4ヶ月（19年10月~20年1月）
  </div>
</p>