<div class="about-heading">
  <div class="scope">
    <h3>
      Scope
    </h3>
    <p>
      Graphic Design, Illustrator, Website
    </p>
  </div>
  <div class="tools">
    <h3>
      Tools
    </h3>
    <p>
      Adobe Illustrator, Adobe Photoshop, Figma, Visual Studio Code
    </p>
  </div>
</div>
<p class="paragraph en-paragraph">
  This is the old portfolio website I created during my student days. A static website hosted on GitHub it's created with just basic HTML, CSS, and Javascript(jquery).
  <br />
  <br />
  I first designed the prototype in Figma to get a good feel of how the website will look like. Most of the code and interaction is written from scratch with almost no library except jquery to make it easier, making it very lightweight and easy to load.
  <br />
  <br />
  The code is currently shelved and can be seen on this GitHub page. You can visit it right now in glen.today.
  <div class="middle">
    Work time: 2 month ('20 November - '20 December)
  </div>
</p>
<p class="paragraph jp-paragraph">
  前回作った学生時代のポートフォリオサイトです。静的ウェブページ、GitHubにホストされ、基本的なHTML、CSS、Javascript（jquery）だけで作成しました。
  <br />
  <br />
  最初はウェブサイトがどのように見えるかをよく理解するため、Figmaでプロトタイプを設計しました。ほとんどのコードとインタラクションは、jqueryを除いてライブラリを使用せず自分で書いたので、非常に軽量でロードが簡単です。
  <br />
  <br />
  現在コードはこちらのGitHubページに見えます。glen.todayからページにアクセスしてみてください。
  <div class="middle">
    制作時間：2ヶ月（20年11月~20年12月）
  </div>
</p>