<div class="about-heading">
  <div class="scope">
    <h3>
      Scope
    </h3>
    <p>
      Graphic Design, Illustrator, Website, Product Design
    </p>
  </div>
  <div class="tools">
    <h3>
      Tools
    </h3>
    <p>
      Adobe Illustrator, Adobe Photoshop
    </p>
  </div>
</div>
<p class="paragraph en-paragraph">
  <br />
  <br />
  <div class="middle"></div>
</p>
<p class="paragraph jp-paragraph">
  <br />
  <br />
  <div class="middle"></div>
</p>