<div class="about-heading">
  <div class="scope">
    <h3>
      Scope
    </h3>
    <p>
      Graphic Design, Illustrator, Website, Product Design
    </p>
  </div>
  <div class="tools">
    <h3>
      Tools
    </h3>
    <p>
      Adobe Illustrator, Adobe Photoshop
    </p>
  </div>
</div>
<p class="paragraph en-paragraph">
  My last project in school was created by the Legase group with Elvin and Michelle. My role here as project manager, editor, and the website developer is to make sure that Elvin as the main concept artist and leader while Michelle as the character artist stays within the concept that was discussed beforehand.
  <br />
  <br />
  The project started with world-building and character creation of the world. The history from the world creation until the current era, until the culture of the society in the story, is discussed. After that starts the work for the artists to start drawing the rough concept art, each finished art was given to me to be edited and prototyped into the book that was going to be printed. After we all agree on the prototype I edited the finished art into a page that's ready to be printed. Sometimes the art needs heavy editing to fit the styles of the book.
  <br />
  <br />
  After most of the book is finished I get into work into building the website. The website is a static website that I hosted on GitHub with basic HTML CSS and Javascript(Jquery).
  <br />
  <br />
  This project got an honorable mention from Kyoto Computer Gakuin.
  <br />
  <br />
  For my team member contact,
  <a href="https://www.instagram.com/ropuart/" target="_blank" class="link">
    Elvin (Instagram)
  </a>
  and
  <a
    href="https://www.instagram.com/WingBlade1357/"
    target="_blank"
    class="link"
  >
    Michelle (Instagram).
  </a>
  <div class="middle">
    Work time: 8 months ('20 June - '21 January)
  </div>
</p>
<p class="paragraph jp-paragraph">
  学校での最後のプロジェクト、Legase「レガセ」のエルビン（リーダー、コンセプトアーティスト）とミシェル（キャラクターアーティスト）と作成しました。プロジェクトマネージャ、編集者、及びウェブ開発者として、エルビンとミシェルの仕事は事前に決定したコンセプトの範囲内にとどまるようにすることです。
  <br />
  <br />
  世界観設定とキャラクター作成から始まり、世界創造から現代まで、社会の文化までの歴史が議論しました。その後、アーティストのラフとコンセプトアートを描き始まり、完成した各アートは編集して印刷できるようにプロトタイプが作成しました。全員が同意した後、完成品は印刷ができるように準備しました。時々、アートは本のスタイルに合うようにたくさん編集が必要です。
  <br />
  <br />
  本はほとんどが終わった後、ウェブの開発を始まります。基本的なHTML、CSSとJqueryを使用して、今はGitHubにホストした静的ウェブサイトです。
  <br />
  <br />
  このプロジェクトは京都コンピュータ学院から奨励賞をいただきました。
  <br />
  <br />
  チームメンバーの連絡先は、
  <a href="https://www.instagram.com/ropuart/" target="_blank" class="link">
    エルビン（インスタ）
  </a>
  と
  <a
    href="https://www.instagram.com/WingBlade1357/"
    target="_blank"
    class="link"
  >
    ミシェル（インスタ）。
  </a>
  <div class="middle">
    制作時間：8ヶ月（20年6月~21年1月）
  </div>
</p>