<div class="about-heading">
    <div class="scope">
        <h3>Scope</h3>
        <p>Graphic Design, Illustrator, Product Design, Prototyping</p>
    </div>
    <div class="tools">
        <h3>Tools</h3>
        <p>Adobe Illustrator</p>
    </div>
</div>
<p class="paragraph">
    TungTau™ is a classic coffee shop that has stood through time since 1938 and
    has grown to be one of the biggest coffee shops in Bangka Island.
    <br />Due to the characteristic of the shop that is affordable yet quality,
    this project is created with cost and simplicity in mind. <br />With the
    current design, it is possible to package fragile ceramic mug and plate with
    just cheap cardboard. The outside wrapper allows any design change to be
    implemented without changing the core packaging of the product.
    <br />
    <br />Work time : 4 months ('19 October - '20 January)
</p>