<div class="about-heading">
    <div class="scope">
        <h3>Scope</h3>
        <p>Animator, Sculptor, Video Editor</p>
    </div>
    <div class="tools">
        <h3>Tools</h3>
        <p>Adobe Premiere Pro,
            Adobe After Effect, Dragonframe</p>
    </div>
</div>
<div class="video" style="width:100%; padding-top: 75%; position: relative">
    <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        src="https://www.youtube.com/embed/bN0mnAafCvk"> </iframe>
</div>
<p class="paragraph">
    "This is the story of Neboke, an alarm clock that always oversleeps and fails to wake his owner up.
    One day, the owner brought home a new alarm clock, Dejike. Dejike was able to perform his task as an alarm clock
    perfectly. But, on this particular night before the important morning for the owner, Dejike has run out of battery.
    <br>
    Neboke noticed this and tried his hardest to wake up the owner. In the end, the owner noticed Neboke's hard work and
    thanked Neboke."
    <br>
    <br>
    This project started with the submission of character design by a classmate in Kyoto Computer Gakuin. After
    revisions to simplify the Neboke design for animation purposes and making another character called Dejike, I started
    sculpting the head from thick foam and white clay and painted it with acrylic paint. The creative design of the eyes
    and the cheeks allows me to express a lot of emotion in the story.
    <br>
    <br>
    Work time : 4 months ('19 October - '20 January)
    <br>
    <span style="font-size: var(--small-text-size) ">
        3 months of sculpting and character creation.
        <br>
        1 month of animation and video editing.</span>
</p>