<div class="about-heading">
  <div class="scope">
    <h3>
      Scope
    </h3>
    <p>
      Animation, Sculpting, Video
    </p>
  </div>
  <div class="tools">
    <h3>
      Tools
    </h3>
    <p>
      Adobe Premiere Pro,
            Adobe After Effect, Dragonframe
    </p>
  </div>
</div>
<div class="video">
  <iframe src="https://www.youtube.com/embed/bN0mnAafCvk"></iframe>
</div>
<p class="paragraph en-paragraph">
  "This is the story of Neboke, an alarm clock that always oversleeps and fails to wake his owner up. One day, the owner brought home a new alarm clock, Dejike. Dejike was able to perform his task as an alarm clock perfectly. But, on this particular night before the important morning for the owner, Dejike has run out of battery. Neboke noticed this and tried his hardest to wake up the owner. In the end, the owner noticed Neboke's hard work and thanked Neboke."
  <br />
  <br />
  This project started with the submission of character design by a classmate in Kyoto Computer Gakuin. After revisions to simplify the Neboke design for animation purposes and making another character called Dejike, I started sculpting the head from thick foam and white clay and painted it with acrylic paint. The creative design of the eyes and the cheeks allows me to express a lot of emotion in the story.
  <br />
  <br />
  I captured every single movement with a camera and software called Dragonframe and edit it in Adobe Premiere Pro. All the sound created in the video is my voice after high pitch editing.
  <br />
  <div class="middle">
    Work time: 4 months ('19 October - '20 January)
    <br />
    <span style="font-size: var(--small-text-size)">
      3 months of sculpting and character creation.
      <br />
      1 month of animation and video editing.
    </span>
  </div>
</p>
<p class="paragraph jp-paragraph">
  「これは常に寝坊して持ち主を起こさない目覚まし時計の話、ネボケーの物語です。ある日、持ち主は新しい目覚まし時計、デジけーを持って帰りました。デジケは目覚まし時計としての仕事を完璧にこなすことができました。しかし、持ち主にとって重要な朝の前の夜に、デジけーの電池が切りました。ネボケーはこれに気づき、持ち主を目覚めさせるために一生懸命努力しました。結局、持ち主はネボケーの努力に気づき、ネボケーに感謝しました。」
  <br />
  <br />
  このプロジェクトは、京都コンピュータ学院の同級生のキャラクターデザインから始まりました。アニメーション用にネボケーのデザインを簡素化するために修正し、デジけーのキャラクターを制作しました。その後発泡スチロールと石粉粘土から頭を彫刻し、アクリル絵の具で色を付けます。目と頬のユニックデザインにより、多く表情を表現することができます。
  <br />
  <br />
  Dragonframeと呼ばれるソフトウェアを使用してカメラですべての動きをキャプチャし、Adobe Premiere Proで編集しました。ビデオにある音源は高音編集後の自分の声です。
  <br />
  <div class="middle">
    制作時間：4ヶ月（19年10月~20年1月）
    <br />
    <span style="font-size: var(--small-text-size)">
      3ヶ月の彫刻とキャラクター作成
      <br />
      1ヶ月の撮影と編集
    </span>
  </div>
</p>