<div class="about-heading">
  <div class="scope">
    <h3>
      Scope
    </h3>
    <p>
      Project Manager, Lead Designer, Graphic design, Illustrator
    </p>
  </div>
  <div class="tools">
    <h3>
      Tools
    </h3>
    <p>
      Adobe Illustrator, Adobe Photoshop
    </p>
  </div>
</div>
<p class="paragraph en-paragraph">
  A big commission project from the overseas community for Love Live! Fest™ concert to show fan appreciation by donating a custom flower stand and a giant custom banner. I was in charge of the overall design, banner design, printing-related management, and cut-out work for flower stand preparation.
  <br />
  <br />
  The banner was created in collaboration by me and artist
  <a href="https://twitter.com/chrone_co" target="_blank">
    <span class="link">
      Chroneco.
    </span>
  </a>
  I created the background and logo design while all the
    character illustrations in the banner are created by Chroneco.
  <br />
  <br />
  The flower stand illustration was created by multiple artists, details can be found
  <a
    href="https://twitter.com/MastrMirage/status/1207141860071723009"
    target="_blank"
  >
    <span class="link">
      here.
    </span>
  </a>
  <div class="middle">
    Work time : 3 Months ('19 November - '20 January)
  </div>
</p>
<p class="paragraph jp-paragraph">
  海外ファングループからリクエストされた「ラブライブ！フェス™」コンサートにカスタムフラワースタンドと横断幕を制作することによって感謝の気持ちを表します。全体的なデザイナー、印刷担当とフラワースタンドカッティング作業者は私の役割になりました。
  <br />
  <br />
  横断幕は
  <a href="https://twitter.com/chrone_co" target="_blank">
    <span class="link">
      Chroneco
    </span>
  </a>
  さんと制作しました。背景とロゴのデザインは私の制作とキャラクターイラストはChronecoさんの制作品でした。
  <br />
  <br />
  フラワースタンドにあるイラストは複数のイラストレターの作品でした。詳細は
  <a
    href="https://twitter.com/MastrMirage/status/1207141860071723009"
    target="_blank"
  >
    <span class="link">
      こちら。
    </span>
  </a>
  <div class="middle">
    制作時間：3ヶ月（19年11月~20年1月）
  </div>
</p>
<span style="font-size: var(--small-text-size)">
  Love Live brand and the original character design are owned by KADOKAWA CO., Lantis Ltd., and SUNRISE INC.
  <br />
  ラブライブとオリジナルキャラクターデザインは、カドカワ株式会社、ランティス株式会社、サンライズ株式会社が所有しています。
</span>