<div class="about-heading">
    <div class="scope">
        <h3>
            Scope
        </h3>
        <p>
            Project Manager, Lead Designer
        </p>
    </div>
    <div class="tools">
        <h3>
            Tools
        </h3>
        <p>
            Adobe Illustrator, Adobe Photoshop
        </p>
    </div>
</div>
<p class="paragraph">
    A big commission project from the overseas community for Love Live! Fest™ concert to show fan appreciations by
    donating a custom flower stand and a giant custom banner. I was in charge in overall design, banner design, printing
    related management, and cut out work for flower stand preparation.
    <br>
    <br>
    The banner was created in collaboration by me and artist
    <a href="https://twitter.com/chrone_co" target="_blank">
        <span class="link">
            Chroneco.
        </span>
    </a>
    I created the background and logo design while all the
    character illustrations in the banner are created by Chroneco.
    <br><br>
    The flower stand illustration was created by multiple artists, details can be found
    <a href="https://twitter.com/MastrMirage/status/1207141860071723009" target="_blank">
        <span class="link">
            here.
        </span>
    </a>
    <br><br>
    Work time : 3 Months ('19 November - '20 January)
    <br><br>
    <span style="font-size: var(--small-text-size) ">
        Love Live brand and the original character design is owned by KADOKAWA CO., Lantis Ltd. and
        SUNRISE INC.
    </span>
</p>