<div class="about-heading">
  <div class="scope">
    <h3>
      Scope
    </h3>
    <p>
      3D modeler, Designer
    </p>
  </div>
  <div class="tools">
    <h3>
      Tools
    </h3>
    <p>
      Adobe Illustrator, Adobe Photoshop, Autodesk Maya
    </p>
  </div>
</div>
<p class="paragraph en-paragraph">
  This 3D project was created in Maya about a live house interior that consists of lightings and a stage. One of the strong points of this is the pillar of light that's caused by the overhead light causing a god ray effect.
  <br />
  <br />
  After all of the shots are rendered from Maya,  they're transferred into Adobe Illustrator for editing and printing preparation. The result is printed on an A1 poster for display purposes.
  <div class="middle">
    Work time: 1 month ('20 January)
  </div>
</p>
<p class="paragraph jp-paragraph">
  この3Dプロジェクトは照明とステージの構成して、ライブハウスのインテリアをMayaで作成しました。特徴はゴッドレイの効果を引き起こすオーバーヘッドライトによって光の柱を立ています。
  <br />
  <br />
  すべての画像はMayaからレンダリングされた後、Adobe Illustratorに編集と印刷の準備をしました。結果は表示用A1ポスターに印刷しました。
  <div class="middle">
    制作時間：1ヶ月（20年1月）
  </div>
</p>