<div class="about-heading">
    <div class="scope">
        <h3>
            Scope
        </h3>
        <p>
            3D modeler, Designer
        </p>
    </div>
    <div class="tools">
        <h3>
            Tools
        </h3>
        <p>
            Adobe Illustrator, Adobe Photoshop, Autodesk Maya
        </p>
    </div>
</div>
<p class="paragraph">
    A 3D project created in Maya about a live house interior that consists of lighting and a stage. The
    end result is printed on a poster for display purposes.
    <br><br>
    Work time : 1 month ('20 January)
</p>