<div class="about-heading">
  <div class="scope">
    <h3>
      Scope
    </h3>
    <p>
      Brochure, Graphic Design, Illustrator
    </p>
  </div>
  <div class="tools">
    <h3>
      Tools
    </h3>
    <p>
      Adobe Illustrator, Adobe Photoshop
    </p>
  </div>
</div>
<p class="paragraph en-paragraph">
  TungTau™ is a classic coffee shop that has stood through time since 1938 and has grown to be one of the biggest coffee shops in Bangka Island.
  <br />
  <br />
  I was given the opportunity to design a brochure to promote this coffee shop's history and the food and beverages they serve to their loyal customer. The brochure was designed to be printed on A4-sized paper and made into a 3-fold easy to distribute brochure.
  <br />
  <br />
  With the striking red color of the brand name, I made an engaging and interesting brochure that showcases the long history and how delicious their food is.
  <div class="middle">
    Work time: 1 week ('21 May - '21 June)
  </div>
</p>
<p class="paragraph jp-paragraph">
  TungTau™は、1938年以来長い歴史を持ち、バンカ島で最大の喫茶店の1つです。
  <br />
  <br />
  この喫茶店の長い歴史と食品と飲料品をチラシ形にさせていただきました。A4サイズの紙に印刷するように設計して、三つ折りの配布しやすいチラシになっています。
  <br />
  <br />
  ブランド名の印象的な赤い色で、TungTau™の長い歴史と美味しそうな食べ物を魅力的の興味深いチラシで紹介します。
  <div class="middle">
    制作時間：1週間（21年6月）
  </div>
</p>