<div class="about-heading">
  <div class="scope">
    <h3>
      Scope
    </h3>
    <p>
      Branding, Graphic Design, Website
    </p>
  </div>
  <div class="tools">
    <h3>
      Tools
    </h3>
    <p>
      Adobe Illustrator, Figma
    </p>
  </div>
</div>
<p class="paragraph en-paragraph">
  This project is created with the theme of summer travel in mind. The scope is to work from limited customer requests to make a landing page and branding.
  <br />
  <br />
  The design was created in Figma while most of the logo and branding are created in Adobe Illustrator.
  <br />
  <br />
  With a big attractive page for the current sale to attract customers and 3 points of the company's value, it gives a summary of the company's overall looks.
  <div class="middle">
    Work time: Less than one week ('20 April)
  </div>
</p>
<p class="paragraph jp-paragraph">
  夏のサマートラベル風に制作しました。範囲は限られた顧客の要求から作業して、ランディングページとブランディングを作成することです。デザインはFigmaで作成して、ロゴとブランディングのほとんどはAdobe Illustratorで制作しました。
  <br />
  <br />
  現在のセールは大きな魅力的なページと会社の価値の3ポイントで、会社の全体的な外観の要約を表示します。
  <div class="middle">
    制作時間：1週間（20年4月）
  </div>
</p>