<div class="about-heading">
    <div class="scope">
        <h3>
            Scope
        </h3>
        <p>
            Branding, Design
        </p>
    </div>
    <div class="tools">
        <h3>
            Tools
        </h3>
        <p>
            Adobe Illustrator, Figma
        </p>
    </div>
</div>
<p class="paragraph">
    This project is created with the theme of summer travel in mind. The scope is to work from limited customer request
    to make a landing page and branding page.
    <br><br>
    With a big attractive page for the current sale to attract customers and 3 points of the company's value, it gives a
    summary of the company's overall looks.
    <br><br>
    Work time : Less than one week ('20 April)
</p>