<div id="index-home" class="index-section clip-diagonal-bottom">
    <div class="background">
        <div id="cloud-normal">
            <img
                    src="assets/Background/Cloud/cloud-normal1.svg"
                    alt="Cloud"
                    id="cloud-normal1"
            />
            <img
                    src="assets/Background/Cloud/cloud-normal2.svg"
                    alt="Cloud"
                    id="cloud-normal2"
            />
            <img
                    src="assets/Background/Cloud/cloud-normal3.svg"
                    alt="Cloud"
                    id="cloud-normal3"
            />
            <img
                    src="assets/Background/Cloud/cloud-normal4.svg"
                    alt="Cloud"
                    id="cloud-normal4"
            />
            <img
                    src="assets/Background/Cloud/cloud-normal5.svg"
                    alt="Cloud"
                    id="cloud-normal5"
            />
        </div>
        <div id="fuji">
            <img src="assets/Background/home-fuji.svg" alt="Fuji and Town"/>
        </div>
        <div id="sakura">
            <img
                    src="assets/Background/sakura-tree/sakura-tree1.svg"
                    alt="sakura"
                    id="sakura-tree1"
            />
            <img
                    src="assets/Background/sakura-tree/sakura-tree2.svg"
                    alt="sakura"
                    id="sakura-tree2"
            />
            <img
                    src="assets/Background/sakura-tree/sakura-tree3.svg"
                    alt="sakura"
                    id="sakura-tree3"
            />
            <img
                    src="assets/Background/sakura-tree/sakura-tree4.svg"
                    alt="sakura"
                    id="sakura-tree4"
            />
        </div>
    </div>
    <div class="content">
        <div class="home-content">
            <p>
                Glenaldy
            </p>
            <h1>
                VISUAL
                <br/>
                DESIGNER
                <br/>
                <span>
                ビジュアルデザイナー
            </span>
            </h1>
            <span>
            Illustrator | Product Design | Website | Logo | Printing | Video | Coding
        </span>
            <div id="github-link">
                <a
                        href="https://github.com/Glenaldy/Portfolio_glen.work"
                        class="cfa-button"
                        target="blank"
                >
                    <div id="cfa-top">
                        <img
                                src="/assets/Logo/github-logo.svg"
                                alt="Github Logo"
                                height="20px"
                                style="margin-right: 5px;"
                        />
                        Github
                    </div>
                    <div id="cfa-bottom"></div>
                </a>
                <span>
                Check out the code!
                <br/>
                コードをご覧ください
            </span>
            </div>
        </div>

        <div class="work-image" id="new-work">
            <span>New Work!</span>
            <a href="https://interactive-guide-map-587206baba62.herokuapp.com/"
               target="blank">
                <img src="assets/WaymarkJapan.png" alt="" id="new-work-image">
            </a>
            <a href="https://github.com/Glenaldy/Interactive-Guide-Map"
               target="blank">
                <span>Waymark Japan (Github)</span>
            </a>
        </div>

    </div>
</div>