<div id="index-about" class="index-section">
  <div class="background">
    <div class="anti-overflow">
      <img
        src="assets/Background/autumn-tree.svg"
        alt="Autumn Tree"
        id="autumn"
      />
      <img
        src="assets/Background/kyoto-full.svg"
        alt="Town of Kyoto"
        id="kyoto"
      />
    </div>
  </div>
  <div class="content">
    <h1>
      About Me
    </h1>
    <div id="about-text">
      <p>
        I am Glenaldy, I came from Indonesia and studied in a college in Kyoto.
        <br />
        <br />
        I think a lot about many things but I am not confident in my verbal communication and easily get misunderstood, yet when I knew it I pursued studies in visual design that enabled me to communicate more visually. Not only that I also realized my old passion for computers and technology and their potential in reaching even greater audiences.
        <br />
        <br />
        So as I pursued my third year into my studies, I have self-taught myself in my free time some key skills that I believe will be valuable in the future such as website development and programming.
        <br />
        <br />
        グレンアルディです。インドネシアから来て京都の専門学校に通いました。
        <br />
        <br />
        いろいろ考えすぎしていますが、口頭でのコミュニケーションに自信がなく、誤解されやすいのですが、デザインの勉強した後ビジュアルコミュニケーションが高めて話せるようになりました。それだけでなく、コンピューターとテクノロジーに対する古い情熱が再発見して、多くの視聴にコミュニケーションが伝える力が気づきました。
        <br />
        <br />
        ですから、3年生にウェブ開発とプログラミングなど独学が開始し、将来価値が高い重要なスキルを学びました。
      </p>
    </div>
    <div class="cfa-button">
      <a class="link" href="/about">
        <div id="cfa-text">
          Read More
        </div>
      </a>
      <div id="cfa-press">
        <div id="cfa-top">
          <div class="text-expander">
            <div class="arrow-right"></div>
          </div>
        </div>
        <div id="cfa-bottom"></div>
      </div>
    </div>
  </div>
</div>