<div id="index-about" class="index-section">
  <div class="background">
    <div class="anti-overflow">
      <img src="assets/Background/autumn-tree.svg" alt="Autumn Tree" id="autumn" />
      <img src="assets/Background/kyoto-town.svg" alt="Town of Kyoto" id="kyoto" />
      <img src="assets/Background/kiyomizu-temple.svg" alt="Kiyomizudera" id="temple" />
    </div>
  </div>
  <div class="content">
    <h1>
      About Me
    </h1>
    <div id="about-text">
      <p>
        My name is Glenaldy Sebastian, I am a student from Indonesia currently
        studying in Kyoto, Japan.
        <br />
        <br />
        When I pursued my studies in design, I admired the power of it to
        communicate the unexplainable to viewers. However, I realized that my
        true passion lies in the possibilities of computers and technology and
        their potential in reaching even greater audiences.
        <br />
        <br />
        As I pursue my third year into my studies, I have self-taught myself in
        my free time some key skills that I believe will be valuable in the
        future such as website development and programming.
        <br />
        <br />
        この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
        <br />
        <br />
        この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
        <br />
        <br />
        この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
      </p>
    </div>
    <div class="cfa-button">
      <a class="link" href="/about">
        <div id="cfa-text">
          Read More
        </div>
      </a>
      <div id="cfa-press">
        <div id="cfa-top">
          <div class="text-expander">
            <div class="arrow-right"></div>
          </div>
        </div>
        <div id="cfa-bottom"></div>
      </div>
    </div>
  </div>
</div>