<div id="index-about" class="index-section">
  <div class="background">
    <div class="anti-overflow">
      <img
        src="assets/Background/autumn-tree.svg"
        alt="Autumn Tree"
        id="autumn"
      />
      <img
        src="assets/Background/kyoto-full.svg"
        alt="Town of Kyoto"
        id="kyoto"
      />
    </div>
  </div>
  <div class="content">
    <h1>
      About Me
    </h1>
    <div id="about-text">
      <p>
        My name is Glenaldy. I came from Indonesia and currently studying in Graduate school in Kyoto, Japan.
        <br />
        グレンアルディと申します。インドネシアから来て京都の大学院に通っています。
        <br />
        <br />
        I pursued studies in visual design that enabled me to communicate more visually. During that time, I realized my passion for computers and technology and their potential in reaching even greater audiences.
        <br />
        デザインの勉学してビジュアルコミュニケーションが高めて話せるようになりました。その間、コンピューターとテクノロジーに対する情熱が発見して、多くの視聴にコミュニケーションが伝える力が気づきました。
        <br />
        <br />
        During the 3rd year of my studies of design, I have self-taught the key skills that I believe will be valuable in the future such as website development and programming. Yet to reach higher ground, I have decided to pursue higher studies. As of now, I am currently enrolled in Kyoto College of Graduate Studies for Informatics.
        <br />
        ですので、デザインの勉学の3年生にウェブ開発とプログラミングなど独学が開始し、将来価値が高い重要なスキルを学びました。まだしかしこれしか足らない情感があり、この上ともの勉学を追究すると思いました。今の所、京都情報大学院大学に通っています。
        <br />
        <br />
      </p>
    </div>
    <div class="cfa-button">
      <a class="link" href="/about">
        <div id="cfa-text">
          Read More
        </div>
      </a>
      <div id="cfa-press">
        <div id="cfa-top">
          <div class="text-expander">
            <div class="arrow-right"></div>
          </div>
        </div>
        <div id="cfa-bottom"></div>
      </div>
    </div>
  </div>
</div>